@using TalentConsulting.TalentSuite.Reports.Common;

@model PaginatedList<TalentConsulting.TalentSuite.Reports.Common.Entities.ReportDto>

<br/>
<br/>
<table class="table">
        <tdead>
            <tr>
                <th>Id</th>
                <th>Created Date</th>
                <th>Planned Tasks</th>
                <th>Completed Tasks</th>
                <th>Submission Date</th>
                <th>ProjectId</th>
                <th>UserId</th>
            </tr>
        </tdead>
            <tbody>
                @foreach (var item in Model.Items)
               {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Created</td>
                        <td>@item.PlannedTasks</td>
                        <td>@item.CompletedTasks</td>
                        <td>@item.SubmissionDate</td>
                        <td>@item.ProjectId</td>
                        <td>@item.UserId</td>
                    </tr>
               }
            </tbody>
    </table>
</div>
